<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
         <listener class-name="Utils.ListenerClass"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
    <class name="Test.TC_001_SignUpTest"/>
     <class name="Test.TC_002_ValidLoginValidationTest"/>
      <class name="Test.TC_003_InvalidLoginValidationTest"/>
       <class name="Test.TC_004_ContactAddtionTest"/>
      <class name="Test.TC_005_ContactDeleteTest"/>
      <class name="Test.TC_006_ValidContactTest"/>
      <class name="Test.TC_007_EditingContactsTest"/>
      <class name="Test.TC_008_LogOutTest"/>
   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
